<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧情報</title>
  <style>
    table, td, th {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
<h1>受講生一覧</h1>
<table >
  <caption>受講生一覧</caption>
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">名前</th>
    <th scope="col">カナ名</th>
    <th scope="col">ニックネーム</th>
    <th scope="col">メールアドレス</th>
    <th scope="col">地域</th>
    <th scope="col">年齢</th>
    <th scope="col">性別</th>
    <th scope="col">備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentsList}">
    <td th:text="${studentDetail.student.id}">6</td>
    <td th:text="${studentDetail.student.name}">田中太郎</td>
    <td th:text="${studentDetail.student.nameKana}">タナカタロウ</td>
    <td th:text="${studentDetail.student.nickname}">タロウ</td>
    <td th:text="${studentDetail.student.email}">taro.tanaka@example.com</td>
    <td th:text="${studentDetail.student.address}">東京都新宿区</td>
    <td th:text="${studentDetail.student.age}">20</td>
    <td th:text="${studentDetail.student.gender}">男性</td>
    <td th:text="${studentDetail.student.remark}">NULL</td>
  </tr>
  </tbody>
</table>
</body>
</html>